<?xml version="1.0" ?>
<robot name = "cup">
  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="Grey">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>
  <material name="Orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="Brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0"/>
  </material>
  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
	<link name = "cup">
	<visual>
		<geometry>
		<mesh filename="../meshes/tsdf_mesh.obj"/>
		</geometry>
		<material name="Red"/>
	</visual>
	<collision>
		<geometry>
		<cylinder length="0.05" radius="0.05"/>
		</geometry>
	</collision>
	</link>
</robot>
